html,
body {
    height: auto;
}
html.fix,
html.fix body {
    height: 100%;
}
body {
	background: #fff;
}

.field,
input.text, 
input[type=date], 
input[type=datetime-local], 
input[type=datetime], 
input[type=email], 
input[type=month], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel], 
input[type=text], 
input[type=time], 
input[type=url], 
input[type=week], 
select, 
select option, 
textarea {
    border-color: #c6d5e7;
    font-weight: 400;
}
::-webkit-input-placeholder { color: #89A3C1; }
:-moz-placeholder { color: #89A3C1; }
::-moz-placeholder { color: #89A3C1; }
:-ms-input-placeholder { color: #89A3C1; }

.nav-menu .topbar>li.devider::before {
    border-color: #c6d5e7;
}

main.content {
    height: 100%;
    background: 0 0;
}
main.content.has-contextual,
main.content.has-actions {
    padding-bottom: 44px;
}
main.content .mandatory {
    color: #CF4741;
    font-size: 1.5em;
    line-height: 100%;
}
main.content .subtitle {
    margin: 16px 0 16px;
    border-bottom: 1px solid #c6d5e7;
    color: #000;
}
.actions {
	position: fixed;
    left: 256px;
    right: 256px;
	top: 12px;
}
.actions a {
    display: block; 
}
.actions a .xn {
	float: left;
}
.contentcenter .middle .xn-docs {
    font-size: 8em;
    line-height: 1em;
    margin: 0 0 8px;
    color: #ccc;
}
.read .row {
    margin: 0 -10px;
}
.read .row .row {
    padding: 10px;
    margin: 0;
}
.read .row .row .row {
    padding: 0;
}
.read .tooltip-text .tooltip {
	right: 0;
    width: 90%;
    margin: 0 auto;
    left: 0;
    background: #CF4741;
    color: #fff;
    font-weight: 400;
}
.hidden {
    display: none!important;
}
.hidden, 
.invisible, 
ul.menu .collapsible ul {
    visibility: hidden;
}
.disable {
    color: #ccc!important;
}
.title {
    line-height: 32px;
    margin-bottom: 16px;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-middle {
    vertical-align: middle;
    display: inline-block;
}
.align-center {
    text-align: center!important;
}

.alert div {
    display: table;
    width: 100%;
}
.alert .icon {
    padding: 4px 24px;
    width: 50px;
    font-size: 24px;
}
.alert .close, 
.alert .icon, 
.alert p {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    pointer-events: none;
}
.alert p {
    padding: 8px 8px 8px 15px;
    text-align: left;
    line-height: 1.24em;
}
.alert p span {
	display: block;
    margin-bottom: 3px;
}
.alert .close {
    color: #fff!important;
    width: 110px;
    padding: 0;
    white-space: nowrap;
    background: 0 0!important;
    border: none;
    pointer-events: auto
}
.table-container {
    margin: 0 -32px;
}
table .xn {
    margin: 0;
    font-size: 1.2em;
}
table .xn:first-child {
    margin-right: 6px;
}
table th:first-child,
table td:first-child {
    width: 1px;
}
table tr,
.table tr {
    border-bottom: 0;
}
table tr th,
table tr td,
.table tr th,
.table tr td {
    height: 40px;
}
table tr.even td,
.table tr.even td {
    background: #EAF2F7;
}
table tr.selected td,
.table tr.selected td { 
    background: #d8e4c8;
}
.table.fixed-tail td:last-child, 
.table.fixed-tail th:last-child, 
table.fixed-tail td:last-child, 
table.fixed-tail th:last-child {
    width: 90px;
    right: 0;
}
.table-body .fixed {
    border: 0;
}
.table.fixed-tail td:nth-last-child(2), 
.table.fixed-tail th:nth-last-child(2), 
table.fixed-tail td:nth-last-child(2), 
table.fixed-tail th:nth-last-child(2) {
    padding-right: 115px;
}

.table.fixed-head td:first-child, 
.table.fixed-head th:first-child, 
table.fixed-head td:first-child, 
table.fixed-head th:first-child {
    left: 0;
    z-index: 1;
    border-right: 0;
}
.table.fixed-head td:nth-child(2), 
.table.fixed-head th:nth-child(2), 
table.fixed-head td:nth-child(2), 
table.fixed-head th:nth-child(2) {
    position: absolute;
    width: 180px;
    left: 50px;
    border-right: 1px solid #b4c8e0;
    padding-left: 20px;
    z-index: 1;
}
.table.fixed-head td:nth-child(2) a, 
.table.fixed-head th:nth-child(2) a, 
table.fixed-head td:nth-child(2) a, 
table.fixed-head th:nth-child(2) a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table.fixed-head td:nth-child(3), 
.table.fixed-head th:nth-child(3), 
table.fixed-head td:nth-child(3), 
table.fixed-head th:nth-child(3) {
    padding-left: 250px;
}

body.has-sidebar #contextual {
    background: #F5F8FB;
}
#contextual .pagination {
    margin-top: 8px;
}
#contextual .pagination.left {
    float: left;
}
#contextual .pagination.right {
    float: right;
}
.sidebar .nav li a.active {
	color: #08c;
}
.actions ul.flat {
    width: 100%;
}
.actions ul li.search {
    width: 50%;
}
#search .search-area {
    display: block;
    position: relative;
}
#search .icn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: initial;
    display: table;
    margin: 0;
    width: auto;
    color: #416B9B;
}
#search .input-search {
    padding: 0 0 0 20px;
}
#search input[type="text"] {
    border: 0;
    color: #416B9B;
    line-height: 130%;
    box-shadow: none;
    padding: 2px 12px 2px 6px;
}

#filter {
    margin-bottom: 16px;
}
#filter .button {
    border-color: #416B9B;
    margin: 0;
    padding: 4px 15px;
    line-height: 130%;
}
#filter .button.error {
    border-color: #CF4741;
}
#filter .button.success {
    border-color: #718F47;
}
#filter .button.warning {
    border-color: #E1BF32;
}
#filter .button .xn {
    margin: 0 5px 0 0;
    width: auto;
    line-height: 100%;
}
#filter .dropdown {
    display: inline-block;
    vertical-align: middle;
}
#filter .dropdown .xn {
    margin: 0 0 0 5px;
    width: auto;
    line-height: 100%;
}
#filter form {
    padding: 0;
    position: relative;
}
#filter input[type="text"] {
    box-shadow: none;
    color: #416B9B;
    padding-right: 25px;
    border-color: #416B9B;
    line-height: 130%;
}
#filter #clear {
    width: auto;
    line-height: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    left: initial;
    bottom: initial;
    margin-top: -7px;
    color: #416B9B;
    cursor: pointer;
}
#filter .show {
    position: relative;
}
#filter .show .context-menu {
    display: block;
    z-index: 2;
}
#filter .flat li {
    margin: 0 8px 0 0;
}
.context-menu,
.context-menu li.divider,
.context-menu li.first-child:before, 
.context-menu li:first-child:before {
    border-color: #b4c8e0;
    text-align: left;
}
.button-area .buttons {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.button-area .buttons:last-child {
    margin-right: 0;
}
#filter .buttons ul li:last-child {
    margin: 0;
}
.dropdown-area {
    position: relative;
    display: inline-block;
}

.list-name .avatar {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #416B9B;
    vertical-align: middle;
    margin-right: 3px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.list-name .name {
    vertical-align: middle;
}
.badge {
    font-size: 0.8em;
}
.tag.badge {
    font-size: .9em;
    padding: 4px 6px;
}
.tag.badge .xn {
    margin-right: 3px;
}
ul.breadcrumb {
    line-height: 32px;
}
ul.breadcrumb li {
    margin: 0 8px 0 0;
    font-size: 0.9em;
    color: #416B9B;
    letter-spacing: 0.3pt;
}
ul.breadcrumb li:last-child a {
    color: #666;
}

.dashboard .wrapper {
    padding: 10px!important;
}
.sub-title {
    padding-bottom: 12px;
    color: #718F47;
    font-weight: 600;
    line-height: 130%;
    border-bottom: 1px solid #c6d5e7;
    font-size: 1.2em;
    text-transform: uppercase;
}
.item {
    border: 1px solid #c6d5e7;
    padding: 16px 24px;
    background: #fcfdfe;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.item.highlight {
    background: #416B9B;
    border-color: #416B9B;
}
.item.success {
    background: #718F47;
    border-color: #718F47;
}
.item.warning {
    background: #E1BF32;
    border-color: #E1BF32;
}
.item.error {
    background: #CF4741;
    border-color: #CF4741;
}
.item .item-area {
    height: auto;
    padding-top: 16px;
    overflow: scroll;
}
.item.small .item-area {
    height: 155px;
}
.item.medium .item-area {
    height: 200px;
}
.item.large .item-area {
    height: 400px;
}
.item .listing {
    position: relative;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #E1EDFB;
}
.item .listing:last-child {
    margin-bottom: 4px;
    padding-bottom: 0;
    border: 0;
}
.item .avatar a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #416B9B;
    position: absolute;
    top: 0;
    bottom: initial;
    left: 0;
    right: initial;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
.item .desc {
    padding-left: 45px;
    font-size: 0.9em;
}
.item .desc p {
    margin: 0;
}
.item .desc h6,
.item .desc p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item .desc h6 {
    line-height: 130%;
    font-size: 1.1em;
}
.item .desc .info {
    font-size: 0.8em;
    letter-spacing: 0.3pt;
}
.item .desc .info,
.item .desc .info a {
    color: #999;
}
.item .desc .info a:hover {
    color: #416B9B;
}
.item .desc .info li {
    margin-right: 2px;
}
.item .desc .info .xn {
    margin: 0;
}
.item h2 {
    font-size: 2.4em;
    margin: 0;
    line-height: 130%;
    color: #fff;
}
.item .label {
    font-size: 0.9em;
    color: #fff;
    letter-spacing: 0.3pt;
    text-transform: uppercase;
    margin: 0;
}
.item .listing .placeholder {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.item .listing .placeholder input[type="checkbox"] {
    position: absolute;
    top: 2px;
    left: 0;
    bottom: initial;
    right: initial;
}
.item .listing .placeholder span {
    display: block;
    padding-left: 25px;
}
.item .icn {
    margin: 0;
    color: #416B9B;
    font-size: 2.7em;
    padding: 10px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    left: 25px;
    top: 50%;
    bottom: 0;
    right: initial;
    width: 60px;
    height: 60px;
    margin-top: -30px;
}
.item.success .icn {
    color: #718F47;
}
.item.warning .icn {
    color: #E1BF32;
}
.item.error .icn {
    color: #CF4741;
}
.item .count-big {
    padding-left: 70px;
    text-align: left;
}

.task-list .add-new {
    padding: 16px 0 0;
    border-top: 1px solid #c6d5e7;
}
.task-list .add-new form {
    padding: 0 35px 0 0;
    position: relative;
}
.task-list .add-new input[type="text"] {
    padding: 4px 12px;
    line-height: 130%;
    box-shadow: none;
}
.task-list .add-new input[type="submit"] {
    margin: 0;
    line-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: initial;
    left: initial;
    width: 28px;
    height: 28px;
    padding: 0;
    font-size: 1.6em;
}
.task-list .listing:last-child {
    margin-bottom: 12px;
}

.grid-container {
    padding: 6px;
}
.grid {
    padding: 16px;
    background: #F5F8FB;
}
.grid .info h6 {
    line-height: 130%;
    margin-bottom: 8px;
    font-size: 1.05em;
}
.grid .info p {
    margin: 0;
    line-height: 130%;
    font-size: 0.8em;
    color: #888;
    letter-spacing: 0.3pt;
}
.icon-style {
    text-align: center;
}
.icon-style .icon {
    margin: 0 0 5px;
    height: 60px;
}
.icon-style .icon a {
    width: 58px;
    height: 58px;
}
.icon-style .icon .xn {
    font-size: 4em;
    color: #416B9B;
    line-height: 100%;
    width: auto;
    margin: 0;
    display: inline-block;
}
.icon-style .icon .image {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
.icon-style .info p {
    margin: 0;
    line-height: 130%;
    font-size: 0.7em;
    letter-spacing: 0.3pt;
    text-transform: uppercase;
}
.icon-style .info p a {
    color: #999;
}
.icon-style .info h6 {
    margin: 0 0 4px;
    line-height: 130%;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.text-icon {
    position: relative;
}
.text-icon .icon {
    position: absolute;
    top: 0;
    bottom: initial;
    left: 0;
    right: initial;
}
.text-icon .icon a {
    width: 40px;
    height: 40px;
}
.text-icon .icon .xn {
    margin: 0;
    font-size: 2.8em;
    width: auto;
    line-height: 100%;
}
.text-icon .icon .image {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
.text-icon .info {
    padding-left: 50px;
}


bookmark, 
email, 
name, 
namecard, 
status, 
namecardbook, 
photo {
    display: block;
}
namecardbook bookmark {
    font-size: .8em;
    text-transform: capitalize;
    background: #f5f5f5;
    color: #B1BBC5;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 4px 8px;
    margin: -1px 0 0;
}
namecardbook namecard {
    padding: 8px 0 10px;
    margin: 0 0 0 80px;
    min-height: 64px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #eee;
    position: relative;
}
namecardbook namecard.selected, 
namecardbook namecard:hover {
    background: #F5F8FB;
    border-top: 1px solid #CEDCF2;
    border-bottom: 1px solid #CEDCF2;
    cursor: pointer;
    padding: 8px 0 10px 80px;
    margin: 0;
}
namecardbook namecard photo {
    background: #DFE7EF;
    color: #B1BBC5;
    width: 48px;
    height: 48px;
    line-height: 48px!important;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: -64px;
    background-size: cover;
    -webkit-border-radius: 666em;
    -moz-border-radius: 666em;
    -ms-border-radius: 666em;
    -o-border-radius: 666em;
    border-radius: 666em;
}
namecardbook namecard.selected photo, 
namecardbook namecard:hover photo, 
namecardbook[responsive] namecard photo {
    left: 16px;
}
namecardbook namecard email, 
namecardbook namecard status, 
namecardbook namecard name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 16px 0 0;
}
namecardbook namecard name {
    color: #416B9B;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 130%;
    padding-bottom: 2px;
}
namecardbook namecard status, 
namecardbook namecard email {
    font-size: .9em;
    text-transform: lowercase;
}
namecardbook namecard email {
    color: #666;
}
namecardbook namecard status {
    font-weight: 300;
    letter-spacing: .3pt;
    margin-top: 2px;
    color: #888;
}
list-collection, 
list-collection-data, 
list-collection-data info, 
list-collection-data photo, 
list-collection-data span {
    display: block;
}
list-collection {
    margin: 0 -32px;
}
list-collection-data {
    padding: 16px 16px 12px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #c6d5e7;
}
list-collection-data:nth-child(2n+1) {
    background: #EAF2F7;
}
list-collection-data photo {
    font-size: 2em;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 100%;
}
list-collection-data photo i.xn {
    margin-right: 0;
    font-size: 1.5em;
}
list-collection-data label {
    color: #6E879A;
    padding: 0 0 4px;
    font-size: .7em;
    letter-spacing: 1px;
    pointer-events: none;
    margin: 0;
}
list-collection-data info {
    color: #000;
    font-size: 1.4em;
    font-weight: 300;
    padding: 0 0 12px;
}
list-collection-data .span-2, 
namecard row label, 
toolbar .right, 
toolbar-bottom .right {
    text-align: right;
}
list-collection-data info.button {
    margin: 0;
    padding: 4px 16px;
    font-size: 1.1em;
}

paper-detail row action, 
paper-detail row info, 
paper-detail row input[type=password], 
paper-detail row input[type=text], 
paper-detail row option, 
paper-detail row select, 
paper-detail row textarea {
    margin: 0 0 0 170px;
}
paper-detail row action, 
paper-detail row info, 
paper-detail row input[type=password], 
paper-detail row input[type=text], 
paper-detail row label, 
paper-detail row option, 
paper-detail row select, 
paper-detail row textarea {
    color: rgba(12,29,45,1);
    display: block;
    padding: 8px 0;
    line-height: 16px;
}
paper-detail row {
    position: relative;
    display: block;
}
paper-detail row label {
    color: #999;
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    font-size: 0.8em;
    margin: 0;
    text-align: right;
}





@media only screen and (min-width: 640px) {
	.alert {
	    position: fixed;
	    width: 640px;
	    margin: 0 auto;
	    top: 0;
	    -webkit-border-radius: 0 0 4px 4px;
	    -moz-border-radius: 0 0 4px 4px;
	    -ms-border-radius: 0 0 4px 4px;
	    -o-border-radius: 0 0 4px 4px;
	    border-radius: 0 0 4px 4px;
	    -webkit-box-shadow: 0 0 64px #333;
	    -moz-box-shadow: 0 0 64px #333;
	    -ms-box-shadow: 0 0 64px #333;
	    -o-box-shadow: 0 0 64px #333;
	    box-shadow: 0 0 64px #333;
	}
}

@media only screen and (min-width: 1023px) {
    main.content>.wrapper {
        padding: 16px 32px;
    }
}
